<div class="auth-form last">
<h2>Facebook</h2>
<p><%= link_to(image_tag("fb-login.png", :class => 'fb', :alt => t(:sign_in_with_facebook)), user_omniauth_authorize_path(:facebook), :class => 'fb') %></p>
</div>