<h1><%= title 'Polityka prywatności' %></h1>

<ul>
  <li>Dane przechowywane na stronie nie są i nie będą udostępniane osobom trzecim.</li>
  <li>Login użytkownika, hasło oraz e-mail lub indentyfikator użytkownika w serwisie Facebook są niezbędne, aby zamieszczać jakiekolwiek treści na stronie. Udostępniane wszelkich dodatkowych informacji zależy wyłącznie od ciebie. Wierz nam lub nie, ale naprawdę nie interesuje nas drugie imię twojego kota.</li>
  <li>Używamy cookies w celu zapisania informacji, gdy się zalogujesz. Nie ma w tym nic niezwykłego. Wszystkie strony działają w ten sposób. W przeciwnym wypadku nie bylibyśmy w stanie rozpoznać ciągu zapytań (kliknięć) wysłanych na stronę i określenia czy wciąż jesteś zalogowany czy nie.</li>
  <li>Pliki cookies są przechowywane do momentu aż się wylogujesz lub zamkniesz przeglądarkę. Jednakże jeśli wybrałeś opcję "zapamiętaj mnię", to oczywiście zamknięcie przeglądarki nie spowoduje wylogowania, a co za tym idzie, zamknięcia sesji.</li>
  <li>Ze względów bezpieczeństwa niektóre żądania HTTP mogą być zapisywane. Żądania te mogą zawierać takie dane jak login, e-mail czy adres IP. Dane te mogą być wykorzystane tylko i wyłącznie w wyjątkowych sytuacjach, takich jak próba włamania na stronę.</li>
  <li>Ruch na stronie monitorujemy przy użyciu narzędzia <a href="http://www.google.com/intl/pl/analytics/privacyoverview.html">Google Analytics</a>.</li>
</ul>