<h1><%= title 'Regulamin' %></h1>

<p>Słowa "serwis" oraz "strona" odnoszą się do strony WWW <strong>polifiction.pl</strong>.</p>

<p>Przedstawiony poniżej regulamin określa zasady funkcjonowania serwisu. Rejestrując się w serwisie użytkownik oświadcza, że&nbsp;zapoznał się z regulaminem i polityką prywatności oraz, że je w pełni akceptuje.</p>

<h3>Warunki podstawowe</h3>
<ul>
  <li>Po pierwsze i najważniejsze, użytkownicy zobligowani sią do kierowania się zdrowym rozsądkiem.</li>
  <li>Nie wolno znieważać, obrażać, dręczyć, prześladować, upokarzać, zastraszać, naśladować, spamować lub wprowadzać w błąd innych użytkowników strony.</li>
  <li>Nie wolno używać strony do jakichkolwiek działań łamiących prawo polskie lub międzynarodowe.</li>
  <li>Nie wolno łamać ogólnie przyjętych zasad netykiety.</li>
  <li>Nie wolno publikować materiałów pornograficznych, wulgaryzmów, treści obscenicznych lub nawołujących do szerzenia nienawiści, rasizmu, naruszających dobra osobiste innych osób, nakłaniających do popełnienia przestępstwa, propagujące przemoc, nagannych moralnie oraz naruszających dobre obyczaje.</li>
  <li>Zabronione jest nieuprawnione korzystanie z cudzego wizerunku.</li>
  <li>Nie wolno używać strony w celu sprzedaży dóbr bądź usług, jak również dystrybucji materiałów promocyjnych, bez wcześniejszej zgody właściciela serwisu.</li>
  <li>Nie wolno zamieszczać materiałów, które łamią lub przyczyniają się do łamania praw autorskich.</li>
  <li>Właściciel strony nie będzie rościć sobie praw do komiksów stworzonych przez użytkowników.</li>
  <li>Właściciel strony może umieszczać reklamy obok publikowanych przez użytkowników treści, bez konieczności uzyskania pozwolenia.</li>
  <li>Elementy graficzne oraz rysunki postaci są integralną częścią serwisu i są chronione prawami autorskimi.</li>
  <li>Elementy graficzne oraz rysunki postaci mogą być wykorzystane jedynie w komiksach wygenerowanych na stronach serwisu z widocznym logiem serwisu.</li>
  <li>Nie wolno wykorzystywać elementów graficznych oraz rysunków postaci w jakichkolwiek publikacjach (elektronicznych, drukowanych, materiałach filmowych, itp.)  bez uprzedniej zgody właścicieli serwisu.</li>
  <li>Dozwolone jest publikowanie i rozpowszechnianie stworzonych komiksów w dowolnej postaci pod warunkiem, że widoczne jest na nich logo serwisu.</li>
  <li>Użytkownicy zachowują prawo do usunięcia wszystkich zamieszczonych przez siebie treści jak i samego konta. Treści te usuwane są po kontakcie pod adresem <em>info@polifiction.pl</em> i odpowiedniej weryfikacji przez moderatora serwisu.</li>
</ul>

<h3>Odpowiedzialność</h3>
<ul>
  <li>Użytkownicy serwisu ponoszą pełną odpowiedzianość za działania wykonywane z użyciem swojego konta, włączając w to publikowanie komiksów, umieszczanie komentarzy, jak również zamieszczanie wszelkiego rodzaju innych treści na stronie.</li>
  <li>Własciel strony nie jest odpowiedzialny za publikowane treści.</li>
  <li>Właściciel strony nie ponosi odpowiedzialności za skutki wykonania, niewykonania lub nienależytego wykonania zaciągniętych przez kogokolwiek, za pośrednictwem strony, zobowiązań, takie jak utrata dochodów, zysku, dobrej reputacji, oraz zdolności tych osób do zaciągania zobowiązań.</li>
</ul>

<h3>Inne</h3>
<ul>
  <li>Właściciel strony zachowuje prawo to decydowania o zgodności zamieszczonych treści z regulaminem. Naruszenie warunków korzystania z serwisu może skutkować usunięciem zamieszczonych treści i/lub konta użytkownika.</li>
  <li>Właściciel strony zastrzega sobie wyłączne prawo do zarządzania zawartością strony, w tym także prawo do usunięcia i modyfikacji treści oraz funkcji strony, uniemożliwienia użytkownikowi dostępu do strony, zaprzestania prowadzenia strony, a także każdej z jego usług oraz podjęcia wszelkich dozwolonych przez prawo czynności związanych ze stroną.</li>
  <li>Właściciel strony nie bierze udziału w sporach powstałych między użytkownikami serwisu. Wszelkie nieporozumienia między sobą Użytkownicy powinni rozwiązywać samodzielnie.</li>
  <li>Właściciel strony zastrzega sobie prawo do wprowadzania zmian w niniejszym regulaminie.</li>
  <li>W kwestiach nieuregulowanych niniejszym Regulaminem zastosowanie mają przepisy powszechnie obowiązującego prawa.</li>
</ul>
